/* .admin-homepage{
    display: flex;
} */

.admin-homepage ul {
    margin-top: 10px;
    width: 16%;
    padding: 0;
    position: absolute;
    height: 100%;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.admin-homepage li {
    width: 100%;
    /* Set the width to 100% to fill the ul's width */
    padding: 5px;
    /* Add some padding for spacing */
}

.admin-homepage li:not(:last-child) {
    margin-bottom: 5px;
    /* Add margin to the bottom of all li elements except the last one */
}

.admin-homepage li {
    background-color: aliceblue;
    color: black;
    width: 90%;
    border-radius: 10px;
    /* position: relative; */
    left: 0;
    transition: all 0.3 ease-in;
}
.admin-homepage-button{
    width: 100%;
    height: 100%;
    border: none;
}
.admin-homepage li:hover{
    font-size: 1.3rem;
    background-color: rgb(143, 135, 125);
    color: aliceblue;
    cursor: pointer;
}
/* .admin-homepage-button:hover {0
    
} */