.drop-down-menu ul {
    display: none;
    background-color: aliceblue;
    border-radius: 10px;
    position: absolute;
        /* justify-content: center;
            align-items: center; */
    top: 50px;
    /* Position it below the .drop-down-menu */
    right: 550px;
    /* height: 100px; */
    z-index: 1;
    /* Ensure it appears above other content */
    transition: opacity 0.3s, visibility 0.3s;
    padding: 0;
    margin: 0;
    max-height: 200px;
            /* Set a maximum height for the dropdown, adjust as needed */
    overflow-y: auto;
}

.drop-down-menu:hover ul {
    display: block;
    padding: 0;
    margin: 0;
    max-height: 173px;
        /* Set a maximum height for the dropdown, adjust as needed */
    /* overflow-y: auto; */
}

.drop-down-menu ul:hover {
    display: block;
    transition: display 0.3s, background-color 0.3s;
}
.drop-down-menu div:hover{
    display: block;
}
.drop-down-menu ul li{
    transition: display 0.3s, background-color 0.3s;
}
.drop-down-menu ul li:hover {
    background-color: rgb(49, 47, 45);
    color: aliceblue;
}
.no-link{
    text-decoration: none;
}
/* Additional styling to hide the menu when not in use */
/* .drop-down-menu:not(:hover) ul {
    display: none;
} */