.form-container{
    background: rgba(255, 255, 255, 0.838);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 9px -1px rgba(237, 235, 235, 0.796)
}
.form-table {
    border-collapse: separate;
    border-spacing: 15px;
    /* Adjust the value to set the gap size */
}
.form-bt-submit{
    position: relative;
    font-size: 0.9rem;
    padding: 4px 14px;
    border-radius: 5px;
    border: none;
    background-color: rgb(8, 68, 117);
    color: aliceblue;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.form-input{
    border: 1px solid gray;
    border-radius: 5px;
}
.form-bt-submit:hover{
    background-color: rgb(11, 78, 133);
}